{#
/**
 * @file
 * Default theme implementation for the payfast_donation_block_form form.
 *
 * Available variables:
 * - form: The form elements.
 */
#}
<div class="payfast-donation-block payfast-donation-block__wrapper">
  {{ form }}
</div>
